body{
    font-family: Arial, sans-serif;
}

footer{
    background-color: rgb(25, 66, 150);
}

span{
    font-size:.6rem;
    margin-left:5px;
}

.top-header{
    width:100%;
    height: 35px;
    background-color:black;
    
}

.sony-logo{
    width:75px;
    height:100%;
    float:right;
    }

.my-btn{
    border-radius:20px;
    padding:8px 15px;
    text-decoration:none;
}
    
.my-nav-btn{
    border-radius:20px;
    padding:.5rem 1rem;
    text-decoration:none;
}
    
.my-btn-plus{
    background-color:rgb(233, 222, 222);
    border-radius:20px;
    padding:8px 20px;
    text-decoration:none;
}

.my-bg-nav{
    background-color:white;
}

.navbar a{
    margin-right:1rem;
    font-size:.9rem;
    color:black;
}

.returnal-banner{
    width:20%;
    height:auto;
}

.it-takes-two-banner{
    width:60%;
    height:auto;
    
}

.no-limits{
    font-size:.8rem;
}

.nav-icon{
    font-size:1.2rem;
    margin-top:.8rem;

}

.game-card{
    width:188px;
    border-radius:20px;
    margin-right:1.5rem;
}

.game-card:hover, .my-active{
    border: 2px solid cornflowerblue;
    padding:3px;
}

.playstation-photo{
    width:100%;
    height:auto;
    
}

.playstation-thumb{
    width:100%;
    height:auto;
}

.playstation-thumb-text{
    font-size:.8rem;
    width:184px;
}

.new-game{
    width:150px;
    height:auto;
    border-radius:20px;
    margin-right:1.5rem;
}

.nuove-uscite-title{
    padding-top:2rem;
}

.new-title-text{
    font-size:.8rem;
    margin-left:1.5rem;
    
}

.nuove-uscite-cards{
    padding-bottom:3rem;
}

.esplora-foto{
    width:100%;
    height:auto;
}

.esplora-title{
    padding-top:5rem;
    text-align:center;
}

.esplora-description{
    padding-bottom:4rem;
    text-align:center;
}

.esplora-content{
    padding-bottom:5rem;
    width:25rem;
}

.plus-logo{
    width:60%;
    height:auto;
}

.plus-game-img{
    width:90%;
    height:auto;
}

.ps-store-img {
    width:100%;
    height:auto;
    padding-bottom:2rem;
}

.store-content-top{
    padding-top:5rem;
}

.text-content-top{
    margin-bottom:4rem;
}

.plus-now-img{
    width:100%;
    height:auto;
}

.now-logo{
    width:60%;
    height:auto;
}

.social-logo{
    width:200px;
    height:200px;
    margin-bottom:3rem;
}

.social-title{
    min-width:400px;
}

.sie-logo{
    width:5rem;
}

.sie-text{
    font-size:.8rem;
    
}

.link-foot a{
    text-decoration: none;
    font-size:.7rem;
}

section#jumbo{
    background-size:cover;
    background-image: url(../img/jumbo-bg.png);
    background-position:center;
    padding: 15rem 0rem 6rem;
    margin-top:110px;
}

section#playstation .ps-photo{
    padding-right:2rem;
}

section#it-takes-two{
    background-size:cover;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position:center;
    padding: 15rem 0rem 6rem;
}

section#card {
    margin-bottom:10rem;
}

section#nuove-uscite{
    background-color:rgb(31, 31, 31);
}

section#playstation-plus{
    width:100%;
    background-color: rgb(190, 188, 187)
}

section#playstation-now{
    width:100%;
    background-color: rgb(23, 28, 57)
}

section#ps-social{
    margin-bottom:8rem;
}