body{
    font-family: Arial, sans-serif;
}

footer{
    background-color: rgb(25, 66, 150);
    /* height:600px; */
}

span{
    font-size:.6rem;
    margin-left:5px;
}

.top-header{
    width:100%;
    height: 35px;
    background-color:black;
    
}

.sony-logo{
    width:75px;
    height:100%;
    float:right;
    }

.my-bg-nav{
    background-color:white;
}

.navbar a{
    margin-right:1rem;
    font-size: .9rem;
    color:black;
}

.returnal-banner{
    width:70%;
    height:auto;
}

.it-takes-two-banner{
    width:70%;
    height:auto;
}

.my-btn{
    background-color:red;
    color:white;
    border-radius:20px;
    padding:8px 15px;
    text-decoration:none;
    color:black;    
}

.my-nav-btn{
    background-color:black;
    border-radius:20px;
    padding:8px 20px;
    text-decoration:none;
    color:white;
}

.my-btn-plus{
    background-color:rgb(233, 222, 222);
    border-radius:20px;
    padding:8px 20px;
    text-decoration:none;
    
}

.no-limits{
    font-size:.8rem;
}

.nav-icon{
    font-size:1.5rem;
}

.game-card{
    width:188px;
    border-radius:20px;
    margin-right:1.5rem;
}


.game-card:hover, .my-active{
    border: 2px solid cornflowerblue;
    padding:3px;
}

.playstation-photo{
    width:100%;
    height:auto;
    
}

.playstation-thumb{
    width:100%;
    height:auto;
}


.playstation-thumb-text{
    font-size:.8rem;
    width:184px;
}

.new-game{
    width:150px;
    height:auto;
    border-radius:20px;
    margin-right:1.5rem;
}

.nuove-uscite-title{
    padding-top:2rem;
}

.new-title-text{
    font-size:.8rem;
    text-align:left;
    margin-left:.5rem;
    
}

.nuove-uscite-cards{
    padding-bottom:3rem;
}

.esplora-foto{
    width:100%;
    height:auto;
}

.esplora-title{
    padding-top:5rem;
    text-align:center;
}

.esplora-description{
    padding-bottom:4rem;
    text-align:center;
    
  
}

.esplora-content{
    padding-bottom:5rem;
    width:25rem;
}

.plus-logo{
    width:60%;
    height:auto;
}

.plus-game-img{
    width:90%;
    height:auto;
}

.plus-description{
    padding-top:6rem;
}

.ps-store-img {
    width:100%;
    height:auto;
    padding-bottom:2rem;
}

.store-content-top{
    padding-top:5rem;
}

.store-content-bottom{
    padding-bottom:5rem;
    
}

.text-content-top{
    margin-bottom:4rem;
}

.now-logo{
    width:60%;
    height:auto;
}

.plus-now-img{
    width:100%;
    height:auto;
}

/* .social-logo{
    width:100%;
    height:auto;
} */

.social-title{
    padding-top:5rem;
    padding-bottom:5rem;
    
}

/* .social-img{
    padding-bottom:5rem;
} */

.logo-footer{
    width:15%;
    height:auto;
    fill: white;
    padding-top:5rem;
    }

.sie-logo-footer{
    width:5%;
    height:auto;
}

.sie-text{
    font-size:.7rem;
    padding-bottom:7rem;
}

.footer-bottom{
    margin-left: 4.2rem;
}

.link-foot{
    list-style-type: none;
    padding-top:50%;
}

.link-foot a{
    text-decoration: none;
    font-size:.7rem;
}

section#jumbo{
    width:100%;
    height:85%;
    background-size:cover;
    background: url(../img/jumbo-bg.png) no-repeat center center;
    padding:17rem 5rem 0 3rem;
}

section#playstation .ps-photo{
    padding-right:2rem;
}

section#it-takes-two{
    width:100%;
    height:100%;
    background-size:contain;
    background: url(../img/it-takes-two-hero-banner-desktop.jpg) no-repeat center center;
    padding:8rem 5rem 0 3rem;
}

section#card {
    margin-bottom:10rem;
}

section#nuove-uscite{
    background-color:rgb(31, 31, 31);
}

section#playstation-plus{
    width:100%;
    
    background-color: rgb(190, 188, 187)
}

section#playstation-now{
    width:100%;
    
    background-color: rgb(23, 28, 57)
}

section#ps-social{
    padding-bottom:5rem;
}